/* index */

:root {
	--main-light-color: ##E7E9FC;
	--accent-color: #2196f3;
	--secondary-accent-color: #188ce8;
	--main-font-color: #757575;
	--logo-color: #000000;
	--border-bg-color: #2f303a;
	--section-team-bg-color: #f5f3fa;
}

/*Global styles*/
body {
	color: var(--main-font-color);
	background-color: var(--main-light-color);
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.71;
	/*color: #FFFFF; */

}

.section_title {
	font-weight: 700;
	font-size: 36;
	line-height: 1.11;
}

.title {
	font-weight: 700;
	font-size: 14;
	line-height: 1.11;
	color: #2E2F42;
}

a {
	text-decoration: none;
	color: currentcolor;
}

ul {
	list-style: none;
}

/* header */
.header {}

.header_nav {
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.33;
	letter-spacing: 0.03em;
}

.header_nav_logo {
	color: #4D5AE5;
	font-family: "Raleway" sans-serif;
	font-size: 18px;
	font-weight: 800;
	line-height: 1.14;
	letter-spacing: 0.03em;
}
.header_nav_logo>span {
	color: #2E2F42;
}

.header_item {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #2E2F42;
}
.header_item:hover {
	color: #404BBF;
}

.address_mail {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #434455;
}
.address_mail:hover {
	color: #404BBF;
}

.address_tel {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #434455;
}
.address_tel:hover {
	color: #404BBF;
}

/*Hero image*/
.hero {
	background: #2E2F42;
}

.hero_header {
	font-size: 56px;
	line-height: 1.07;
	text-align: center;
	letter-spacing: 0.02em;
	color: #FFFFFF;
}

.hero_btn {
	cursor: pointer;
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.04em;
	border-radius: 4px;
	border: none;
	padding: 16px 32px;
	color: #FFFFFF;
	background: #4D5AE5;
}

.hero_btn:hover {
	background: #404BBF;
}

/*Advantages*/
.advan {}

.advan_list {}

.advan_item {}

.advan-header {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: #2E2F42;
}

.advan-text {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #434455;
}


/*Examples*/
.examp {}

.examp_header {
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: #2E2F42;
}

.examp_list {}

/*Team*/
.team {
	background: #F4F4FD;

}

.team_header {
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: #2E2F42;
}

.team_list {}

.team_person {
	background: #FFFFFF;
}

.team_header_person {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	text-align: center;
	letter-spacing: 0.02em;
	color: #2E2F42;
}

.team_text {
	font-size: 16px;
	line-height: 1.5;
	text-align: center;
	letter-spacing: 0.02em;
	color: #434455;
}

/* Footer */
.footer_logo {
	color: #4D5AE5;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.14;
	letter-spacing: 0.03em;
}

.footer_logo>span {
	color: white;
}

.logo_text {
	color: #E7E9FC;
	font-family: inherit;
	line-height: 1.28;
	letter-spacing: 0.02em;
}







/* portfolio */






body {
	font-family: 'Roboto', sans-serif;
	/* color: #E5E5E5; */
}

a {
	text-decoration: none;
	color: currentcolor;
}

ul {
	list-style: none;
}

/* header */

.header_nav {
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.33;
	letter-spacing: 0.03em;
}

.header_nav_logo {
	color: #4D5AE5;
	font-family: "Raleway" sans-serif;
	font-size: 18px;
	font-weight: 800;
	line-height: 1.14;
	letter-spacing: 0.03em;
}
.header_nav_logo>span {
	color: #2E2F42;
}

.header_item {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #2E2F42;
}
.header_item:hover {
	color: #404BBF;
}


.address_mail {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #434455;
}

.address_mail:hover,
.address_mail:focus {
	color: #404BBF;
}

.address_tel {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #434455;
}
.address_tel:hover,
.address_mail:focus {
	color: #404BBF;
}



/* main */
/*Секція*/

.visually_hidden {
	position: absolute;
	top: -150%;
	z-index: -100;
	width: 0;
	height: 0;
	opacity: 0;
	visibility: hidden;
	user-select: none;
	pointer-events: none;
	cursor: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: none;
	outline: none;
	white-space: nowrap;

}

.container {
	max-width: 1128px;
	width: 100%;
	margin: 0 auto;
	/* padding: 50px; */
	/* Fill: Solid #F4F4FD */
}

.main_buttons {
	display: flex;
	justify-content: space-between;
	max-width: 586px;
	margin: 0 auto;
	margin-bottom: 72px;
	margin-top: 96px;
	color: #4D5AE5;
}

.main_buttons_btn {
	cursor: pointer;
	background-color: #F4F4FD;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	font-family: inherit;
	border-radius: 4px;
	border: none;
	height: 48px;
	padding: 12px 24px 12px 24px;
	color: #4D5AE5;
}
.main_buttons_btn:hover,
.main_buttons_btn:focus {
	background: #404BBF;
	color: #FFFFFF;
}


.section_row {
	display: flex;
	justify-content: space-between;
	height: 420px;

}

.section_row_header {
	font-family: inherit;
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: #2E2F42;
}

.section_row_text {
	font-family: inherit;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #434455;
}

/* Site nav */
footer {
	background-color: #2E2F42;
	height: 310px;
	top: 1764px;
}

/* Footer */
.footer_logo {
	color: #4D5AE5;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.14;
	letter-spacing: 0.03em;
}

.footer_logo>span {
	color: white;
}

.logo_text {
	color: #E7E9FC;
	font-family: inherit;
	line-height: 1.28;
	letter-spacing: 0.02em;
}